@import 'scss/style.minxin.scss';
.MenuContainer {
    @include Container();
}

.SlideContainer {
    width: 100%; margin: 0 auto;
}

.ContentFull {
    width: 100%; min-height: calc(100vh - 210px);
    margin: 0 auto;

    @media screen and (max-width: 1620px) {
        width: calc(100vw*(1280/1620)); min-height: calc(100vh - calc(100vw*(600/1620)));
    }
}

.ContentInner {
    width: 952px; min-height: calc(100vh - 210px);
    margin: 0 auto;

    @media screen and (max-width: 1620px) {
        width: calc(100vw*(950/1620)); min-height: calc(100vh - calc(100vw*(600/1620)));
    }
}
.MenuWrapper {
    width: 945px;
    margin: 0 auto ;
    padding-top: 125px;
    padding-bottom: 200px;

    @media screen and (max-width: 1620px) {
        width: 100%;
        margin: 0 auto;
        padding-top: calc(100vw*(25/1620));
        padding-bottom: calc(100vw*(20/1620));
    }
}

.MenuSection {
    @include Section();
}

.Logo {
    width: 100%;
    margin-bottom: 70px;

    @media screen and (max-width: 1620px) {
        margin-bottom: calc(100vw*(50/1620));
    }
}
.MenuTextBox {
    padding: 15px;
    background: #ffffff;
    
    @media screen and (max-width: 1620px) {
        padding: calc(100vw*(15/1620)) 0 calc(100vw*(25/1620));
    }
}
.MenuTitle {
    font-size: 48px;
    font-family:'HelveticaNeue_bold';
    font-weight: 900;
    text-align: center;
    
    @media screen and (max-width: 1620px) {
        font-size: calc(100vw*(52/1620));
    }
}
.MenuText {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    
    @media screen and (max-width: 1620px) {
        font-size: calc(100vw*(24/1620));
    }
}
.MenuTextWrap {
    cursor: pointer;
}
.StartTextBox {
    background-color: #ffffff;
    padding: 22px;
    margin-bottom: 50px;
    p {
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.42;
    }
    
    @media screen and (max-width: 1620px) {
        padding: calc(100vw*(22/1620));
        margin-bottom: calc(100vw*(80/1620));
        p {
            font-size: calc(100vw*(34/1620));
        }
    }
}